.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 10px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 20px;
}
.freeBox__jET2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-self: flex-start;
  margin-bottom: 10px;
  min-width: 0;
  min-height: 0;
}
.freeBox__jET2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-content: unset;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox__jET2 > :global(.__wab_flex-container) > *,
.freeBox__jET2 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 5px;
}
.freeBox__nTHe {
  display: block;
  position: relative;
  width: 196px;
  height: 82px;
  align-self: flex-end;
  flex-direction: column;
  flex-shrink: 0;
}
.antdDatePicker:global(.__wab_instance) {
  position: absolute;
  left: 0px;
  top: 0px;
}
.h1 {
  position: relative;
  height: 43px;
  width: 194px;
  align-self: auto;
  font-size: 24px;
  flex-shrink: 0;
}
.antdFormInput__xd91G:global(.__wab_instance) {
  position: relative;
  align-self: center;
  width: 50em;
  flex-shrink: 0;
}
.antdFormInput__rmtX2:global(.__wab_instance) {
  position: relative;
  align-self: center;
  width: 50em;
  flex-shrink: 0;
}
.antdFormInput__rgmsz:global(.__wab_instance) {
  position: relative;
  align-self: center;
  width: 50em;
  flex-shrink: 0;
}
.antdFormInput__aSukO:global(.__wab_instance) {
  position: relative;
  align-self: center;
  width: 50em;
  flex-shrink: 0;
}
.antdFileUpload:global(.__wab_instance) {
  position: relative;
  align-self: center;
  flex-shrink: 0;
}
.antdFormSubmit:global(.__wab_instance) {
  position: relative;
  align-self: center;
  flex-shrink: 0;
}
