.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 10px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 20px;
}
.freeBox__jQXn {
  display: block;
  position: relative;
}
.freeBox__jET2 {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  width: wrap;
  position: relative;
  height: auto;
  align-self: center;
  margin-bottom: 10px;
}
.freeBox__jET2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-content: unset;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__jET2 > :global(.__wab_flex-container) > *,
.freeBox__jET2 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 0px;
  margin-top: 20px;
}
.freeBox__ucks8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__ucks8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-content: unset;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__ucks8 > :global(.__wab_flex-container) > *,
.freeBox__ucks8 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 12px;
}
.freeBox__yz8Je {
  font-size: 42px;
  font-weight: 700;
  line-height: 1;
  position: relative;
  width: 100%;
  font-family: "Poppins", sans-serif;
  min-width: 0;
}
.freeBox___6OPoA {
  position: relative;
  height: auto;
  align-self: flex-start;
  color: #00000080 /* plasmic-token: sZRN6FenN */;
  width: 100%;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
.img {
  position: relative;
  object-fit: cover;
  width: 40px;
  height: 25px;
  align-self: flex-end;
  flex-shrink: 0;
}
.antdDatePicker:global(.__wab_instance) {
  position: relative;
  align-self: flex-end;
  width: 185px;
  height: 38px;
  flex-shrink: 0;
}
.antdFormInput__xd91G:global(.__wab_instance) {
  position: relative;
  align-self: center;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.antdFormInput__rmtX2:global(.__wab_instance) {
  position: relative;
  align-self: center;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.antdFormInput__rgmsz:global(.__wab_instance) {
  position: relative;
  align-self: center;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.antdMedicineInput__y9Csf:global(.__wab_instance) {
  position: relative;
  width: 100%;
  align-self: center;
  min-width: 0;
  flex-shrink: 0;
}
.antdMedicineInput__atb4D:global(.__wab_instance) {
  position: relative;
  width: 100%;
  align-self: center;
  min-width: 0;
  flex-shrink: 0;
}
.antdFormInput__yLmAq:global(.__wab_instance) {
  position: relative;
  align-self: center;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.antdFormSubmit:global(.__wab_instance) {
  position: relative;
  align-self: center;
  flex-shrink: 0;
}
