.root {
  display: block;
  background: url("./images/submitPng.png") 0% 0% / 100% 100% repeat,
    linear-gradient(#a03838, #a03838), rgba(68, 192, 255, 0.2);
  width: 5em;
  height: 32px;
  position: relative;
}
